/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    padding-left: 15%;
    padding-right: 15%;
    text-transform: capitalize;
}

/* Input Section Styles */
input[type="number"] {
    width: -webkit-fill-available;
    border: 2px solid #007bce;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

/* Button Styles */
button {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #2980b9;
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    background-color: #f8f9fa;
}

tr:hover td {
    background-color: #e9ecef;
}
